#my-orders-content{
  padding-top:22px;
}

#my-orders-content .place-order-holder{
  float:right;
}

#my-orders-content .my-orders{
  margin-top:57px;
}

.modal-footer #back-button{

}

#modal-periods-add .details,
#modal-order-add .details {
    font-size:14px;
    padding-top:5px;
}

#modal-order-add #lesson_title,
#modal-order-add #equipment,
#add-equipment-modal #lesson_title{
	border-right: 2px solid #bdc3c7 !important;
}

#modal-order-add #lesson_title:focus,
#modal-order-add #equipment:focus,
#add-equipment-modal #lesson_title:focus{
	border-color: #1abc9c !important;
}

#modal-order-add .tt-menu,
#add-equipment-modal .tt-menu{
	width: 95% !important;
	margin-left: 2.5% !important;
}

#modal-order-add .equipment-set,
#modal-order-add .assistance{
	display:none;
}

#equipment-import-modal .fileinput-button, #displaypicture-modal .fileinput-button {
	position: relative;
	overflow: hidden;
	margin-top: 15px;
	margin-bottom: 10px;
}
#equipment-import-modal .progress, #displaypicture-modal .progress, #sendsms-modal .progress {
	margin-bottom: 0px;
}
#equipment-import-modal .fileinput-button input, #displaypicture-modal .fileinput-button input {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	opacity: 0;
	-ms-filter: 'alpha(opacity=0)';
	font-size: 30px;
	direction: ltr;
	cursor: pointer;
}
#equipment-import-modal #files-info, #displaypicture-modal #files-info, #sendsms-modal #files-info {
	margin-top: 32px;
	margin-right: 1px;
	font-size: 13.5px;
}
#equipment-import-modal #files-info-error, #displaypicture-modal #files-info-error, #sendsms-modal #files-info-error {
	line-height: 1.2;
	margin-top: 10px;
	max-height: 105px;
	overflow-y: auto;
}
#equipment-import-modal #files-info-error .error-msg, #displaypicture-modal #files-info-error .error-msg, #sendsms-modal #files-info-error .error-msg {
	font-size: 12.5px;
	color: #c0392b;
}

/*# sourceMappingURL=scienceordersystem.css.map */
