/*!
 * App stylesheet (requires flatui)
 */

/** NEUTRAL **/
html {
	min-width: 260px;
}
body {
	padding-right: 0px;
}
#main-content {
	margin-top: 53px;
	opacity: 0;
}
h4, .h4 {
	font-size: 24px; 
}
h5, .h5 {
	font-size: 21px;
}
h6, .h6 {
	font-size: 16.5px;
	font-weight: 600;
	padding-top: 20px;
	margin-bottom: 12px;
}
.nobr {
	white-space: nowrap;
}
.medium-text {
	line-height: normal;
	font-size: 15.7px;
}
.small-text {
	line-height: normal;
	font-size: 13.4px;    
}
.smaller-text {
	line-height: normal;
	font-size: 12px;
}
.even-smaller-text {
	line-height: normal;
	font-size: 11px;
}
.alert-popover p {
	font-size: 13.5px !important;
	padding-bottom: 0px !important;
	text-align: center;
}
.icon-sized {
	font-size: 18px;
}
.display-pic {
	border: solid #e7e7e7 1px;
	opacity: 0;
}
.vparent {
	display: table;
}
.vcenter {
	display: table-cell;
	vertical-align: middle;
}
.dropdown-menu {
	margin-top: 6px;
}
.right-buttons button {
	margin-bottom: 6px;
}
.control-label {
	text-align: right;
}
p.no-results {
	text-align: center;
	padding: 15px 10px 0px 10px;
	font-size: 14.5px;
}
/* Firefox hack for responsive tables fix */
@-moz-document url-prefix() {
fieldset { display: table-cell; }
}
.datepicker { /* fix for datepicker overlaying a modal */
	z-index: 9990;
}
.no-pointer {
	cursor: default !important;
}
.input-group-btn .btn.disabled, .input-group-btn  .btn[disabled] {
	color: #D5DBDB !important;
	background-color: #F4F6F6 !important;
	border-color: #D5DBDB !important;
}
.btn-xs .glyphicon {
	font-size: 11px;
}
ul.dropdown-menu {
	min-width: 140px !important;
}
.no-js .login-slim {
	margin-top: 0;
	margin-bottom: 0;
}
.no-js {
	margin-top: 40px;
}
button:focus {
	outline: none;
}
/** hide placeholder text on focus **/
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

/** MODALS **/
.modal-footer form {
	display: inline;
}
.modal-footer .btn {
	margin: 3px 0px 3px 3px !important;
}
.modal-footer .btn-group .btn {
	margin: 0px !important;
}
.modal-footer .btn-group > .btn + .dropdown-toggle {
	padding: 9px 11px;
}
.modal-footer {
	padding: 13px;
}
.no-transition {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-ms-transition: none !important;
	-o-transition: none !important;
	transition: none !important;
}
.modal-backdrop {
	opacity: 0 !important;
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-ms-transition: none !important;
	-o-transition: none !important;
	transition: none !important;
}
a {
	-webkit-transition: .2s;
	transition: .2s
}
.global-modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1038;
    background-color: #000;
    opacity: 0;
}

/** GENERAL INPUT / FORM STYLE **/
input, textarea { /* remove text-input shadows on ios */
	-webkit-appearance: none;
}
.alert {
	padding: 10px;
	font-size: 12.5px;
}
.alert p {
	font-size: 13px;
	padding-bottom: 0px;
}
.alert p span {
	font-size: 15px;
}
.alert .title {
	font-weight: bold;
	font-size: 15px;
	padding-bottom: 10px;
}
.alert-popover {
	margin-bottom: 0px;
	border: none;
}
.alert.empty-list, .alert.empty-list p {
	margin-bottom: 0px;
}
.popover-content {
	padding: 6px;
}
.popover .arrow {
	top: -11px !important;
}
.popover {
	min-width: 240px;
	max-width: 274px;
}
.glyphicon, [class^="fui-"] {
	padding-right: 4px;
}
.icon-pad {
	padding-right: 4px !important;
}
.navbar .glyphicon, .navbar [class^="fui-"] {
	padding-right: 0px;
}
.label-sm {
	font-size: 12px;
	padding-top: 3px;
	padding-bottom: 4px;
}
.label-primary {
	background-color: #48C9B0;
}
.label-maxlength {
	margin-top: 1px;
	margin-left: -8px;
	border: 2px solid #FFF;
	border-radius: 5px;
}
.label-maxlength-button {
	margin-left: 5px;
}

.form-control-feedback {
	margin-right: 12px;
}
.btn-blank {
	padding: 6px 2px !important;
	font-size: 17px !important;
	cursor: default !important;
}
.btn-hidden {
	display: none;
}
.datepicker.dropdown-menu {
	font-family: "Lato","Helvetica","Arial",sans-serif;
}
.datepicker table {
	margin: 3px;
}
.btn-input-sm {
	height: 35px !important;
	line-height: 10px !important;
	padding-top: 5px;
}
.select, .select2-choice, .multiselect {
	width: 100%;
}
.select, .select2-drop {
	min-width: 204px;
}
.select2-container-disabled .select2-choice {
	cursor: default;
	opacity: 0.6;
}
.select2-container.select-sm > .select2-choice {
	padding-top: 8px;
	padding-bottom: 8px;
	min-height: 34px;
}
.select-inverse-dropdown {
	font-size: 13px;
}
.select2-container-active {
	border-color: #1ABC9C !important;
}
.select2-container-multi.multiselect-primary {
	border-color: #BDC3C7;
}
.has-error .select2-container-multi.multiselect-primary {
	border-color: #e74c3c;
}
.has-error .select2-container-disabled.multiselect-primary .select2-search-choice {
	background-color: #e74c3c;
}
.select2-container-disabled.multiselect-primary {
	border-color: #D5DBDB;
	opacity: 0.7;
}
.select2-container-disabled.multiselect-primary .select2-search-choice {
	background-color: #D5DBDB;
}
.select2-container-disabled.multiselect-primary .select2-search-choice a {
	cursor: default !important;
}
.select2-drop .select2-results {
	border-radius: 4px;
	border: 2px solid #34495e;
	max-height: 214px;
	padding-top: 2px;
	padding-bottom: 2px;
}
.select2-drop {
	font-size: 13px;
	margin-top: 5px;
}
.select2-drop .select2-result-label {
	padding: 7px 13px;
	border-radius: 4px;
}
.select2-drop .select2-result {
    padding: 2px 4px;
}
.select2-drop .select-inverse-dropdown ul {
	background-color: #34495e !important;
}
.select-inverse-dropdown {
	color: rgba(255, 255, 255, .75);
	background-color: #34495e !important;
	border-radius: 5px;
}
.select-inverse-dropdown .select2-results .select2-result-label:focus,
.select-inverse-dropdown .select2-results .select2-result-label:hover,
.select-inverse-dropdown .select2-results .select2-result-label:active {
	background: #2c3e50;
}
.select-inverse-dropdown .select2-result-with-children > .select2-result-label:hover {
	color: #fff;
	background: none !important;
}
.select2-drop .select2-highlighted > .select2-result-label {
    color: inherit;
    background: none repeat scroll 0% 0% #e1e4e7;
}
.select2-drop.select-inverse-dropdown .select2-highlighted > .select2-result-label {
    color: inherit;
    background: none repeat scroll 0% 0% #2c3e50;
}
.dropdown-templated {
	margin-left: 15px;
	font-size: 13px;
	max-height: 280px;
	overflow-y: auto;
}
html.ios .select2-drop .select2-results, html.ios .dropdown-templated { /* Enable momentum scrolling on ios */
	overflow-y: scroll; /* has to be scroll, not auto */
	-webkit-overflow-scrolling: touch;
}
html.ios .select2-drop .select2-result-selectable .select2-result-label:focus,
html.ios .select2-drop .select2-result-selectable .select2-result-label:hover,
html.ios .select2-drop .select2-result-selectable .select2-result-label:active {
	background-color: inherit !important;
	-webkit-transition: none !important;
}
html.ios .navbar a:hover, html.ios .navbar a:focus, 
html.ios .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover, 
html.ios .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
	color: #FFF;
	background-color: inherit;
}
html.ios .navbar-toggle::before {
	color: #FFF !important;
}
a.namelink {
	color: #34495E;
}
a.namelink:hover, a.namelink:focus {
	color: #1ABC9C;
}
.sortabletable thead th:hover, .sortabletable thead th:hover, .sortabletable-nosort thead th:hover, .sortabletable-nosort thead th:hover {
	cursor: pointer;
	background-color: #FFF;
	color: #1ABC9C;
	-webkit-transition: .25s;
	transition: .25s;
}
.sortabletable thead th.no-hover:hover, .sortabletable-nosort thead th.no-hover:hover {
	cursor: default;
	background-color: inherit;
	color: inherit
}
.has-error .input-group-btn .btn {
	color: #E74C3C;
	border-color: #E74C3C;
	box-shadow: none;
}
.well i.fa, .dropdown-menu i.fa {
	padding-right: 5px;
}
.list-group:last-child {
    margin-bottom: 0px !important;
}
.navbar-toggle:focus:before, .navbar-toggle:hover:before {
    color: #FFFFFF !important;
}
.modal .checkbox, .modal .radio {
	margin-top: 6px;
}


/** NAVBAR **/
.navbar-nav li .dropdown-menu {
	margin-top: 7px;
}
.navbar-nav > li > a {
	font-weight: 500;
	padding-left: 15px;
	padding-right: 15px;
}
.navbar .fui-triangle-down-small {
	font-size: 12px;
}
.dropdown-toggle .glyphicon.glyphicon-triangle-bottom {
    font-size: 10.5px;
    margin-right: -1px;
}
.navbar-brand {
	font-weight: 600;
	padding: 16px 21px;
	font-size: 19px;
	letter-spacing: -0.5px;
}
.navbar-inverse .navbar-form .form-control {
	color: #ececec;
}
.navbar-inverse .navbar-nav > .dropdown > a .caret {
	border-top-color: #627080;
	border-bottom-color: #627080;
}
.navbar-form {
	padding: 9px 12px;
}
.navbar-brand:hover, .navbar-brand:focus {
	color: #FFFFFF !important;
}
.navbar .container, .navbar .container-fluid {
	padding-right: inherit;
	padding-left: inherit;
}
.navbar-inverse {
	background-color: #34495E;
	-webkit-font-smoothing: subpixel-antialiased;
	/*background-color: rgba(52, 73, 94, 0.96);*/
}
#navbar-logo {
	margin-top: -4px;
	height: 26px;
	width: 41px;
}
/* Navbar search border color */
.navbar-inverse .navbar-form .form-control, .navbar-inverse .navbar-form .input-group-btn .btn { border-color: #506171; }
/* Input placeholder text color in navbar */
.navbar-inverse .navbar-form .form-control::-webkit-input-placeholder { color: #ececec !important; }
.navbar-inverse .navbar-form .form-control:-moz-placeholder { color: #ececec !important; }
.navbar-inverse .navbar-form .form-control::-moz-placeholder { color: #ececec !important; }
.navbar-inverse .navbar-form .form-control:-ms-input-placeholder { color: #ececec !important; }

.btn-group > .btn.btn-sm + .dropdown-toggle .caret {
	margin-right: -1px;
	margin-left: -2px;
}
.print-textarea {
	display: none;
}
.pagination li > a, .pagination li > span {
	min-width: 34px;
	min-height: 34px;
	padding: 11px;
}
.pagination li.previous > a, .pagination li.next > a, .pagination li.previous > span, .pagination li.next > span {
	padding: 11px 12px;
}
.pagination > ul {
	border-radius: 4px;
}
.pagination li:first-child > a, .pagination li:first-child > span, .pagination li:first-child > a:hover, 
.pagination li:first-child > span:hover, .pagination li:first-child > a:focus, .pagination li:first-child > span:focus {
	border-radius: 4px 0px 0px 4px;
}
.pagination li:last-child > a, .pagination li:last-child > span, .pagination li:last-child > a:hover, 
.pagination li:last-child > span:hover, .pagination li:last-child > a:focus, .pagination li:last-child > span:focus {
	border-radius: 0px 4px 4px 0px;
}
html.ios .pagination li.active > a, html.ios .pagination li.active > span {
	color: #fff !important;
	background-color: #1abc9c !important;
}
html.ios .pagination li > a, html.ios .pagination li > span {
	-webkit-transition: none;
}
html.ios .pagination li > a:hover, html.ios .pagination li > span:hover {
	background-color: inherit;
}


/* SETTINGS */
.listtable {
   margin-bottom: 0;
}
.listtable th {
	font-size: 13px;
	border-top: none !important;
	vertical-align: middle !important;
}
.listtable td {
	font-size: 12.5px;
	vertical-align: middle !important;
	padding: 4px 7px !important;
}
.listtable tr:first-child td {
	border-top: none !important;
}
.modal-table-scroller {
	overflow-y: auto; 
	max-height: 439px;
}
.innerarea-form-modal hr {
	margin-top: 0px;
	margin-bottom: 4px;
}
.innerarea-form-modal label {
	font-size: 14.5px;
	line-height: 2.4;
	margin-bottom: 0;
}
.innerarea-form-modal label.radio {
	line-height: 1.4;
	font-size: 13px;
	margin-top: 7px;
}
.innerarea-form-modal .disabled-label {
	color: #c0c0c0;
}
.innerarea-form-modal {
	margin-left: 10px;
	margin-right: 10px;
}
.innerarea-form-modal .control-label {
	text-align: right;
}
#edit-user-modal #role .dropdown-menu {
	margin-left: 15px;
	min-width: 180px;
}
.innerarea-form-modal .modal-body {
	padding-bottom: 10px;
}
.innerarea-form-modal .form-group {
	margin-bottom: 0px;
}
.innerarea-form-modal .row {
	margin-top: 5px;
	margin-bottom: 5px;
}
#import-export-menu {
	min-width: 160px;
}
#modal-settings-list-edit .list-item-setting {
	width: 49%;
	white-space: normal;
	height: inherit;
	position: relative;
	display: inline-block;
	padding: 1px 15px;
	margin: 1px 2px 5px 3px;
	overflow: hidden;
	font-size: 12px;
	color: #FFF;
	vertical-align: middle;
	cursor: pointer;
	background-color: #1abc9c;
	border-radius: 4px;
	min-height: 30px;
}
#modal-settings-list-edit .list-item-setting:hover {
	background-color: #48C9B0;
}
#modal-settings-list-edit .active {
	background-color: #48C9B0 !important;
}
#modal-settings-list-edit .inactive {
	background-color: #CACFD2 !important;
}
#modal-settings-list-edit .list-block .input-group {
	margin: 4px 3px;
}
#modal-settings-list-edit .small-heading {
	margin: 30px 5px 6px 5px;
	font-size: 14.5px;
}
#modal-settings-list-edit .small-heading:first-child {
	margin-top: 5px;
}
#modal-settings-list-edit .list-block .has-error .btn-input-sm {
	background-color: #e74c3c !important;
	border-color: #e74c3c !important;
}
#modal-settings-list-edit .list-block .has-error .btn-input-sm:hover {
	background-color: #ec7063 !important;
	border-color: #ec7063 !important;
}
#modal-settings-list-edit .list-block .checkbox {
	color: #7B8996;
	margin: 4px 23px 1px 4px;
	padding-left: 28px;
	float: left;
	font-size: 12px;
	line-height: 1.7;
	cursor: pointer;
}
#modal-settings-list-edit .list-block .btn-sm {
	padding: 5px 5px 9px 9px;
}
#modal-settings .select2-choices li {
	width: 48.6%;
}
#modal-settings .select2-search-choice {
	text-align: center;
}
#modal-settings .list-group .select {
	width: 84%;
}
#modal-settings .list-group {
	margin-bottom: 10px;
}
#modal-settings hr {
	padding-bottom: 5px;
	margin-top: 9px;
}
#modal-settings .btn.edit {
	margin-left: 2px;
	margin-right: 2px;
}
.btn-blank.helper {
	padding: 0px 2px 0px 4px !important;
	color: #BDC3C7;
}
#modal-settings .btn-blank.helper .fui-question-circle {
	padding-right: 0px;
	line-height: 1.8;
}
#usersimport-modal .fileinput-button, #displaypicture-modal .fileinput-button {
	position: relative;
	overflow: hidden;
	margin-top: 15px;
	margin-bottom: 10px;
}
#usersimport-modal .progress, #displaypicture-modal .progress, #sendsms-modal .progress {
	margin-bottom: 0px;
}
#usersimport-modal .fileinput-button input, #displaypicture-modal .fileinput-button input {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	opacity: 0;
	-ms-filter: 'alpha(opacity=0)';
	font-size: 30px;
	direction: ltr;
	cursor: pointer;
}
#usersimport-modal #files-info, #displaypicture-modal #files-info, #sendsms-modal #files-info {
	margin-top: 32px;
	margin-right: 1px;
	font-size: 13.5px;
}
#usersimport-modal #files-info-error, #displaypicture-modal #files-info-error, #sendsms-modal #files-info-error {
	line-height: 1.2;
	margin-top: 10px;
	max-height: 105px;
	overflow-y: auto;
}
#usersimport-modal #files-info-error .error-msg, #displaypicture-modal #files-info-error .error-msg, #sendsms-modal #files-info-error .error-msg {
	font-size: 12.5px;
	color: #c0392b;
}

/* LOGIN PAGE */
.login-page {
	padding-top: 40px;
	opacity: 0;
}
.login-page #school-logo {
	text-align: center; 
	margin-bottom: 40px;
}
.login-page #school-logo img {
	height: 145px;
}
.login-page #box-top {
	display: block; 
	width: 100%; 
	background-color: #2e4960; 
	height: 53px; 
	color: #FFFFFF; 
	border-top-right-radius: 6px; 
	border-top-left-radius: 6px; 
	padding: 13px 15px 10px 25px;
}
.login-form .login-field {
    border-color: #FFFFFF;
}
.login-page #feedback {
	display: none;
	font-size: 15px;
    color: #E80606;
    text-align: center;
    padding-bottom: 5px;
}
.login-page .login-form {
	padding: 0; 
	background-color: #e3e5e8;
}
.login-page .login-form .inner-form {
	padding: 24px; 
}
.login-page .login-field {
	padding-right: 40px;
}
.login-page .login-title {
	font-size: 22px;
	margin-left: -1px;
	font-weight: 600;
	letter-spacing: -0.5px;
	line-height: 25px;
	padding-right: 20px;
}
.login-page .alt-login-links {
	text-align: right; 
	padding-top: 5px; 
	margin-right: -18px;
}
.login-page .alt-login-link {
	margin-top: 10px;
}
.sso-logout, .sso-logout p {
	text-align: center;
}
.sso-logout .medium-text {
	padding-top: 8px;
}
.sso-logout p:last-child {
	margin-bottom: 0px;
}
/* hide nasty yellow chrome autofill */
input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px white inset;
    -webkit-text-fill-color: #34495e;
}

/* INFO MODAL */
#modal-settings-info .panel-heading {
	padding: 8px 12px;
	font-size: 14.5px;
}
#modal-settings-info .panel .table td {
	padding: 10px;
	padding-left: 13px;
	font-size: 13px;
}

/* MEDIA QUERIES */

/* PHONE */
@media (max-width: 500px) {

	/* SETTINGS */
	#modal-settings-list-edit .list-item-setting {
		width: 98%;
	}
	.innerarea-form-modal hr {
		display: none;
	}
	.innerarea-form-modal .innerarea {
		margin-left: 2px;
		margin-right: 2px;
	}
	.innerarea-form-modal #role {
		width: 100%;
		margin-bottom: 7px;
	}
	#modal-settings .list-group .select {
		width: 100%;
	}
	#modal-settings .btn.edit {
		margin-left: 0;
	}
	#modal-settings div.row:first-child {
		margin-bottom: 10px;
	}
	#modal-settings-list-edit .modal-body {
		padding-left: 10px;
		padding-right: 10px;
	}
	#modal-settings .select2-choices li {
		width: 98%;
	}

}

/* LANDSCAPE PHONE */
@media (min-width: 500px) and (max-width: 767px) {

	/* INPUT MODALS */
	.innerarea-form-modal .col-sm-3 {
		float: left;
		width: 25%;
	}
	.innerarea-form-modal .col-sm-9 {
		float: left;
		width: 75%;
	}

	/* SETTINGS */
	#modal-settings-list-edit .list-item-setting {
		width: 48.8%;
	}
	.innerarea-form-modal .col-sm-4 {
		float: left;
		width: 34%;
	}
	.innerarea-form-modal .col-sm-8 {
		float: left;
		width: 66%;
	}
	#modal-settings .list-group .select {
		width: 80%;
	}
	#modal-settings .select2-choices li {
		width: 48.3%;
	}

}

/* BOOTSTRAP XS */
@media (max-width: 767px) {

	.login-page {
		padding-top: 30px;
	}
	.login-page #school-logo img {
		height: 120px;
	}
	.login-page #school-logo {
		margin-bottom: 25px;
	}

	/* NAVBAR */
	.navbar-brand {
		padding: 16px 0px 16px 14px;
	}
	.navbar-toggle {
		margin-left: 0px;
	}
	.navbar .container, .navbar .container-fluid {
		padding-right: 21px;
		padding-left: 21px;
	}
	.navbar #group-list {
		width: inherit !important;
		max-height: 175px !important;
	}
	.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
		background-color: transparent;
	}
	.navbar-inverse .navbar-form {
		border-width: 0px 0px 2px 0px;
		margin-top: 0px;
		margin-bottom: 0px;
		position: absolute;
		width: 100%;
		background-color: #34495E;
		border-width: 0;
	}
	.nav.navbar-nav {
		float: left;
		width: 125%;
	}
	.navbar-nav > li > a {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.nav.navbar-nav.navbar-right {
		margin-top: 0;
	}
	.navbar-inverse .navbar-collapse {
		overflow-x: hidden;
	}
	.twitter-typeahead #searchTerm{
		width: inherit !important;
	}
	.twitter-typeahead .tt-menu{	
	    margin-top: 6px !important;
	}

	/* STUDENT PROFILE */
	.pagination > ul {
		height: 38px;
		padding: 0px 40px 0px 40px;
	}
}

/* BOOTSTRAP SM */
@media (min-width: 768px) and (max-width: 991px) {

	/* NAVBAR */
	.navbar-nav > li > a { 
		padding: 15px 12px; 
	}
	.navbar-form .input-group {
		width: 210px;
	}

	/* SETTINGS */
	#modal-settings-list-edit .list-item-setting {
		width: 49%;
		margin: 1px 2px 5px 3px;
	}
}

/* BOOTSTRAP MD */
@media (min-width: 991px) and (max-width: 1199px) {
	/* NAVBAR */
	.navbar-form .input-group {
		width: 210px;
	}

	/* SETTINGS */
	#modal-settings-list-edit .list-item-setting {
		width: 48.8%;
		margin: 1px 2px 5px 3px;
	}

}

/* BOOTSTRAP LG */
@media (min-width: 1200px) {
	/* NAVBAR */
	.navbar-form .input-group {
		width: 210px;
	}

}

@media (min-width: 768px) {
	.navbar-collapse .navbar-nav.navbar-right:last-child > .dropdown:last-child > a {
		border-radius: 0;
	}
}

/* LOADER */
#page-loader {
	display: none;
	position: fixed;
	z-index: 999;
	width: 100%;
	background-color: rgb(255, 255, 255); /*fallback*/
	background-color: rgba(255, 255, 255, 0.77);
	color: #34495E;
}
.spinner {
	margin: auto;
	text-align: center;
	-webkit-transform: translate3d(0, 0, 0);
}
.spinner > div {
	width: 14px;
	height: 14px;
	background-color: #333; 
	margin: 4px;
	border-radius: 100%;
	display: inline-block;
	-webkit-animation: bouncedelay 1.3s infinite ease-in-out;
	animation: bouncedelay 1.3s infinite ease-in-out;
	/* Prevent first frame from flickering when animation starts */
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.dropdown-menu li a .spinner > div {
	width: 9px;
	height: 9px;
	margin: 5px 3px 0px 4px;
	background-color: #FFF;
}
.btn-sm .spinner {
	height: 17px;
	margin-top: 1px;
}
.btn .spinner > div {
	width: 9px;
	height: 9px;
	margin: 6px 3px 1px 4px;
	background-color: #FFF;
}
.btn-sm .spinner > div, .btn-md .spinner > div {
	margin: 3px;
}
.btn-lg .spinner > div {
	width: 10px;
	height: 10px;
	margin: 8px 1px 1px 6px;
	background-color: #FFF;
}
.btn-xs .spinner {
	height: 10px;
	margin: 0px 0px 2px 2px;
}
.btn-xs .spinner > div {
	width: 8px;
	height: 8px;
	margin: 2px;
}
.spinner .bounce1 {
	-webkit-animation-delay: -0.30s;
	animation-delay: -0.30s;
}
.spinner .bounce2 {
	-webkit-animation-delay: -0.15s;
	animation-delay: -0.165s;
}
@-webkit-keyframes bouncedelay {
	0%, 80%, 100% { -webkit-transform: scale(0.0) }
	40% { -webkit-transform: scale(1.0) }
}
@keyframes bouncedelay {
	0%, 80%, 100% { 
		transform: scale(0.0);
		-webkit-transform: scale(0.0);
	} 40% { 
		transform: scale(1.0);
		-webkit-transform: scale(1.0);
	}
}

.hidden-overflow{
	overflow-y:hidden;
	max-height: 30px;
}
.alert .title{
	font-weight: bold;
	padding-bottom: 7px;
}
.pagination li span{
	cursor:pointer;
}

#pagination-footer .pagination,
#pagination-header .pagination{
	margin-top:1px;
	margin-bottom:8px;
}

#pagination-header,
#pagination-footer{
	padding-left:0px;
	padding-right:0px;
}

.tab-content .well{
	margin-bottom:8px;
}

/* WEBKIT ONLY */
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.hidden-overflow {
		max-height: 28px;
	}
	.show-btn .glyphicon {
  		font-size: 10px;
	}
}

/* IE9 and 10 ONLY */
:root .hidden-overflow {
	overflow-y:hidden\9;
	max-height: 29px\9;
}

/* IE10+ ONLY */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.hidden-overflow {
		overflow-y:hidden;
		max-height: 28px;
	}
}

/*TYPE AHEAD*/
.twitter-typeahead{
	position:static !important;
	display:block !important;
}
.twitter-typeahead .form-control{
	border-right:0px !important;
}
.twitter-typeahead #searchTerm{
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.twitter-typeahead .tt-menu{	
	width: 100%;
	padding: 5px 0px;
	border-radius: 5px;
	border: 2px solid #506171;
	background-color: #34495e;
    margin-top: 16px;
}
.twitter-typeahead .tt-menu .tt-suggestion:hover{
	color:#caced3;
	background-color: #2c3e50;
	border-radius: 2px;
	cursor:pointer;
	transition: all 0.2s ease;
}
.twitter-typeahead .tt-menu .tt-suggestion{
	color:#fff;
	padding-left:10px;
	margin-left:5px;
	margin-right:5px;
	font-size:13px;
	padding-top:5px;
	padding-bottom:5px;
	border-radius: 4px;
}
.twitter-typeahead #searchTerm{
	width:173px;
}

/*Impersonate box*/
#impersonate-box {
	opacity: 0; 
	position:fixed; 
	bottom: -50px; 
	left: 0; 
	z-index: 1000;
	width: 317px;
	background-color: #FFF;
	padding: 10px;
	border-radius: 6px;
}
#impersonate-box .alert {
	margin-bottom: 0;
}
#impersonate-margin {
	height: 135px;
}
@media (min-width: 1770px) {
	#impersonate-margin {
		display: none;
	}
}

.analysis-screen h6 {
	margin-top: 0px;
}
.analysis-screen #chart-div-01 {
	padding: 0px;
	text-align: left !important;
}
.analysis-top .select {
	margin-bottom: 6px;
	margin-right: 3px;
}
.analysis-screen #chart-div-02 .no-results, .analysis-screen #chart-div-03 .no-results, .analysis-screen #chart-div-04 .no-results {
	padding: 5px 0px 0px 0px;
	margin-bottom: 12px;
}
.analysis-screen #chart-holder-01 .table-responsive {
	overflow-x: auto;
}
html.ios .analysis-screen #chart-holder-01 .table-responsive {
	overflow-x: scroll; /* has to be scroll, not auto */
	-webkit-overflow-scrolling: touch;
}
.analysis-screen #graphs-pane {
	padding-left: 0;
	padding-right: 0;
}
.analysis-screen .inactive {
	opacity: 0.65;
}
.input-daterange input {
	text-align: left;
}
.input-daterange input:first-child {
	border-radius: 6px;
}
.analysis-top .input-daterange .first {
	padding-right: 5px;
}
.analysis-top .input-daterange input {
	width: 170px !important;
}
.analysis-screen .college, .register-results .college {
	font-size: 12.5px;
	font-weight: bold;
	display: inline-block;
	padding: 3px 5px 1px 4px;
	margin-top: 15px;
	background-color: #FFF;
	width: 100%;
}
.register-results .college {
	margin-top: 20px;
	margin-bottom: 10px;
}
.menu-options-analysis {
	margin-top: 0px;
}
.analysis-screen .college:first-child, .register-results .college:first-of-type {
	margin-top: 0px;
}
/*REPLACE THE LEGEND WITH PNGS*/
.analysis-screen ul li span {
	display:none;
}
.analysis-screen ul li div.image{
	display:block;
	padding-right:5px;
	float:left;
}
.analysis-screen ul li:nth-child(8n+1) div.image:before{
	content:url("../../img/red.png");
}
.analysis-screen ul li:nth-child(8n+2) div.image:before{
	content:url("../../img/blue.png");
}
.analysis-screen ul li:nth-child(8n+3) div.image:before{
	content:url("../../img/yellow.png");
}
.analysis-screen ul li:nth-child(8n+4) div.image:before{
	content:url("../../img/grey.png");
}
.analysis-screen ul li:nth-child(8n+5) div.image:before{
	content:url("../../img/darkblue.png");
}
.analysis-screen ul li:nth-child(8n+6) div.image:before{
	content:url("../../img/green.png");
}
.analysis-screen ul li:nth-child(8n+7) div.image:before{
	content:url("../../img/darkgrey.png");
}
.analysis-screen ul li:nth-child(8n+8) div.image:before{
	content:url("../../img/otherYellow.png");
}