/** IE8 CSS TWEAKS **/

.navbar #search-bar {
	margin-top: 9px;
}

.select-inverse-dropdown {
	color: #caced3;
}

.dropdown-menu-inverse > li > a {
	color: #e1e4e7;
}

.dropdown-menu-inverse > li > a:focus, .dropdown-menu-inverse > li > a:hover {
	color: #e1e4e7;
	background-color: #2f4256;
}

.select2-container.select-sm > .select2-choice {
	min-height: 10px;
}

.pagination li > a, .pagination li > span {
	min-width: 13px;
	min-height: 10px;
}
.pagination li.page {
    width: 37px !important;
}

.hidden-overflow{
	overflow-y:hidden;
	max-height: 28px;
}

.dropdown-menu {
	overflow-y: auto;
}

#impersonate-box {
	bottom: 0;
}

input[type="password"] {
	font-family: Helvetica, Arial, sans-serif;
}