@page {
	margin: 1cm 0.5cm;
}
a[href]:after {
  content: none !important;
}
#print-container {
  margin-top: 0px !important;
}
#main-content {
	margin-top: 0px !important;
}
hr, .well {
	border-color: #DDD !important;
}
.display-pic {
	min-width: 75px;
  max-width: 120px;
}
.img-circle {
	border-radius: 50% !important;
}

/* MODALS */
body.modal-open #main-content {
	display: none;
}
.modal-table-scroller {
	overflow-y: visible;
	max-height: 9999999px;
}
.modal-open .modal {
	overflow-x: visible;
	overflow-y: visible;
}
.modal {
	position: relative;
}
.modal-dialog {
	width: inherit;
}
.modal-content {
	border: none;
}
.c3-edit.btn, .modal button.close, .edit-user-button, .modal-footer, .right-buttons, .datepicker {
	display: none !important;
}
.modal .edit-user-col {
  display: none;
}
.modal-header {
	padding-bottom: 0px;
}
.modal-table-scroller tr th:first-child {
	display: none;
}
#modal-settings button.edit, a.helper, #modal-settings .input-group-btn, #edit-user-modal .input-group-btn,  #edit-email-groups-modal .input-group-btn, .register-top .input-group-btn {
	display: none;
}
#modal-settings #systemTitle, #edit-user-modal #newpassword, #edit-email-groups-modal #groupName, .register-top #date-daily {
	border-radius: 6px !important;
}
#modal-settings .list-group .select, #modal-settings .input-group, #edit-user-modal .input-group, #edit-email-groups-modal .input-group {
	width: 100%;
}
#modal-settings .select2-search-choice {
	text-align: left;
	margin-left: -14px;
}
#modal-settings-list-edit .add-state, #modal-settings-list-edit .edit-state {
	display: none;
}
#modal-settings-list-edit button {
	border-color: #DDD;
}

/*DONT BREAK 'RECORDS' ON PRINT*/
.print-friendly,
table tr td,
table tr th{
	page-break-inside: avoid;
}

#pagination-header, #pagination-footer{
	display:none;
}
.well .hidden-overflow {
	max-height: 999999px;
}

.print-textarea {
	border: 2px solid #e1e1e1;
	border-radius: 5px;
	padding: 6px 10px;
	font-size: 13px;
	line-height: 1.462;
	display: inherit;
	min-height: 80px;
	margin-bottom: 7px;
}
textarea {
	display: none !important;
}

/* Adjust breakpoint for small bootstrap layout */
@media (min-width: 100px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0;
  }
}