.dropdown-title {
    font-size: 11.4px;
    color: #a9b3bc;
    padding: 5px;
    padding-right: 0px;
    text-transform: capitalize;
}
.navbar-brand {
    padding: 14px 21px;
    padding-right: 25px;
    line-height: 27px;
}
.navbar-brand .icon-pad, .login-page #box-top .icon-pad {
    padding-right: 6px !important;
}
.login-page #box-top {
    font-weight: 600;
    font-size: 19px;
    letter-spacing: -0.5px;
    line-height: 1.042;
    padding: 16px 21px;
}
.datatable .datacol:nth-child(even){
    background-color: #ededed !important;
}
.datatable {
   margin-bottom: 0;
}
.datatable .strip {
    background-color: #ededed;
}
.datatable .datacol {
    text-align: center;
    vertical-align: middle;
    width: 87px;
    padding: 3px;
}
.datatable th {
    font-size: 13px;
    border-top: none !important;
}
.datatable td {
    font-size: 12.2px;
    min-width: 30px;
}
.datatable .firstcol {
    font-size: 12.6px;
    white-space: nowrap;
    padding-right: 11px;
}